@page
@model WesternInn_MajorProject.Pages.Guests.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Guest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Guest.Email" class="control-label"></label>
                <input asp-for="Guest.Email" class="form-control" />
                <span asp-validation-for="Guest.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest.Surname" class="control-label"></label>
                <input asp-for="Guest.Surname" class="form-control" />
                <span asp-validation-for="Guest.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest.GivenName" class="control-label"></label>
                <input asp-for="Guest.GivenName" class="form-control" />
                <span asp-validation-for="Guest.GivenName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest.PostCode" class="control-label"></label>
                <input asp-for="Guest.PostCode" class="form-control" />
                <span asp-validation-for="Guest.PostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
