@page
@model WesternInn_MajorProject.Pages.Guests.Bookings.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Book a Room</h1>

<hr />
<div class="row">
    <div class="row col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group m-2">
                <label asp-for="Bookings.RoomID" class="control-label"></label>
                <select asp-for="Bookings.RoomID" class ="form-select" asp-items="ViewBag.RoomID"></select>
            </div>
            <div class="form-group m-2" hidden>
                <label asp-for="Bookings.GuestEmail" class="control-label"></label>
                <Input asp-for="Bookings.GuestEmail" class ="form-control"/>
            </div>
            <div class="form-group m-2">
                <label asp-for="Bookings.CheckIn" class="control-label"></label>
                <input asp-for="Bookings.CheckIn" class="form-control" />
                <span asp-validation-for="Bookings.CheckIn" class="text-danger"></span>
            </div>
            <div class="form-group m-2">
                <label asp-for="Bookings.CheckOut" class="control-label"></label>
                <input asp-for="Bookings.CheckOut" class="form-control" />
                <span asp-validation-for="Bookings.CheckOut" class="text-danger"></span>
            </div>
            <div class="form-group m-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            @if ((string)ViewBag.test1 == "Your booking was successful" ){
            
                <div class="alert alert-success" role="alert">
                    <p>Your booking was successful. <div>Your Booking number: @ViewData["id"]</div></p><a asp-page="Index">Back to List</a>
                </div>
            }
            @if ((string)ViewBag.test1 == "This booking is unavailable" )
            {
                <div class="alert alert-danger" role="alert">
                    <p>The booking unavailable.</p>
                    <a asp-page="/Rooms/Index">Check Room Availability</a>
                </div>
            }
            @if ((string)ViewBag.invalid == "True" )
            {
                <div class="alert alert-danger" role="alert">
                    <p>The dates that were entered are invalid. Check out date must be set after the Check in date</p>
                </div>
            }
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
